body {
    color: rgb(255, 255, 255);
    font-family: "Nanum Gothic", "Poppins", sans-serif;
    background-color: rgb(19, 19, 19);
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px;
}
.topbar {
 background-color: rgb(31, 31, 31);
 text-align: left;
 overflow: hidden;
 word-spacing: 10%;
}
.topbar a {
    border-color: lightskyblue;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 100%;
    padding: 14px 16px;
    text-align: center;
    float:left;
    opacity: 100%
}
.topbar a:hover {
    opacity: 75%;
}