body {
    color: rgb(255, 255, 255);
    font-family: "Nanum Gothic", "Poppins", sans-serif;
    background-color: rgb(19, 19, 19);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px;
}
.topbar {
 color: grey;
 width: 50px;
 height: 20px;
 top: 0;
 left: 0;
 color: black;
 text-align: left;
 overflow: hidden;
 word-spacing: 10%;
}
.topbar a {
    border-color: lightskyblue;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 100%;
    text-align: center;
    float:none;
    opacity: 100%
}
.topbar a:hover {
    opacity: 75%;
}