<!DOCTYPE html>
<html>
    <head>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="topbar"><a>aklll</a><a><button class="active">Home</button></a><a><button class="topbar-button">Server</button></a></div>
       <div>
        <img src="https://discordapp.com/users/<%= avatar%>" alt="Your profile picture">
       </div>
       <h1>Hello <%= username %></h1>
    </body>
</html>
