<!DOCTYPE html>
<html>
    <head>
        <link src="static/style.css" type="css">
    </head>
    <body>
       <div class="topbar">aklll</div>
       Hello <%= username %>
    </body>
</html>
